[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "r2r"
version = "0.1.0"
description = "A relational to RDF mapper for spark"
requires-python = ">=3.8"
dependencies = [
    "pyspark",
]